.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.usfm-editor {
  margin: 1vh 25vw;
  padding: 1vh;
  background-color: #70421413;
  font-size: calc(10px + 1vmin);
}
